@using PetProject.Models;
@using PetProject.Services;
@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Components.Authorization;
@using Microsoft.AspNetCore.Components.Web;

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserManager<AppUser> UserManager
@inject ApplicationDbService DbService
@inject ApplicationFightSimulationService FightSimulationService
@inject SignInManager<AppUser> SignInManager

            <div class="card">
                <button @onclick="(e => Reroll())">Reroll</button>
                <div class="card-columns">

                    @foreach (var fighter in NewFighters)
                    {
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-text">@fighter.Name</h3>
                            </div>
                            <img class="card-img-top" src="@fighter.Image" alt="@fighter.Name" style="height:100%">
                            <div class="card-text">
                                <p>
                                    @fighter.Level
                                </p>
                                <p>
                                    @fighter.Price
                                </p>
                            </div>
                            <button @onclick="(e => Buy(fighter))">Buy</button>
                        </div>
                    }
                </div>
            </div>
            <div class="card">
                <h3>My Fighters</h3>
                <div class="card-columns">
                    @foreach (var fighter in Fighters)
                    {
                        if (!fighter.InParty)
                        {
                            <div class="card">
                                <div class="card-body">
                                    <h3 class="card-text">@fighter.Name</h3>
                                </div>
                                <img class="card-img-top" src="@fighter.Image" alt="@fighter.Name" style="height:100%">
                                <button @onclick="(e => ChangeParty(fighter))">Add to Party</button>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="card">
                <h3>Raiding Party</h3>
                <div class="card-columns">
                    @foreach (var fighter in Party)
                    {
                        if (fighter.InParty)
                        {
                            <div class="card">
                                <div class="card-body">
                                    <h3 class="card-text">@fighter.Name</h3>
                                </div>
                                <img class="card-img-top" src="@fighter.Image" alt="@fighter.Name" style="height:100%">
                                <button @onclick="(e => ChangeParty(fighter))">Remove from Party</button>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="card">
                @if(Party.Count > 0)
                {
                <button @onclick="(e => Fight())">Fight</button>
                }
                @if(User.DungeonRank > 0) 
                {
                    <button @onclick="(e => Retreat())">@(Party.Count == 0 ? "Defeat" : "Retreat")</button>
                    <p>Loot: @Loot</p>
                }
                <div class="card-body">
                    @User.DungeonRank
                    @foreach (Opponent opponent in Opponents)
                    {
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-text">@opponent.Name</h3>
                            </div>
                            <img class="card-img-top" src="@opponent.Image" alt="@opponent.Name" style="height:100%">
                        </div>
                    }
                    @foreach (string entry in Fightlog)
                    {
                        <p>@entry</p>
                    }
                </div>
            </div>

@code {
    protected AppUser User { get; set; }
    protected List<Fighter> Fighters { get; set; }
    protected List<Fighter> Party { get; set; }
    protected List<Fighter> NewFighters { get; set; }
    protected List<Opponent> Opponents { get; set; }
    protected List<string> Fightlog { get; set; }
    protected int Loot { get; set; }

    protected void Refresh()
    {
        Party = DbService.GetPartyMembers(User.Id);
    }

    protected void ChangeParty(Fighter fighter)
    {
        if (Party.Count() < 4 && !Party.Contains(fighter) && User.DungeonRank == 0)
        {
            DbService.ChangePartyMember(fighter.Id);
        }
        else if (Party.Contains(fighter) && User.DungeonRank == 0)
        {
            DbService.ChangePartyMember(fighter.Id);
        }
        Refresh();
    }

    protected void Reroll()
    {
        NewFighters = DbService.RandomFighters();
    }

    protected void Fight()
    {
        foreach(Fighter fighter in Fighters.Where(f => !f.InParty))
        {
            fighter.Health = fighter.MaxHealth;
        }
        DbService.ChangeDungeonRank(User.Id, User.DungeonRank + 1);
        if (User.DungeonRank > User.Best)
        {
            DbService.ChangeDungeonBest(User.Id, User.DungeonRank);
        }
        Opponents = DbService.RandomOpponents(User.DungeonRank);
        if(User.DungeonRank == 1)
        {
            Loot = Opponents.Select(o => o.Loot).Sum();
        }
        else
        {
            Loot += Opponents.Select(o => o.Loot).Sum();
        }
        Fightlog = FightSimulationService.SetUpFight(new List<Opponent>(Opponents), Party);
    }

    protected void Retreat()
    {
        DbService.ChangeDungeonRank(User.Id, 0);
        Opponents.Clear();
        Fightlog.Clear();
        if(Party.Count > 0)
        {
            DbService.Loot(Loot, User.Id);
        }
    }

    protected void Buy(Fighter fighter)
    {
        if (fighter.Price <= User.Funds)
        {
            DbService.BuyFighter(fighter, User);
            NewFighters.Remove(fighter);
            Fighters = DbService.GetMyFighters(User.Id);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        Fightlog = new List<string>();
        Opponents = new List<Opponent>();
        NewFighters = DbService.RandomFighters();
        User = DbService.GetUserByName(SignInManager.Context.User.Identity.Name);
        Fighters = DbService.GetMyFighters(User.Id);
        Party = DbService.GetPartyMembers(User.Id);
        DbService.ChangeDungeonRank(User.Id, 0);
    }
}
