@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="card">
    @if (Model.SignInManager.IsSignedIn(User))
    {
        <form method="post">
            <input type="submit" value="Reroll" asp-page-handler="Roll" />
        </form>
    }
        <div class="card-columns">

            @foreach (var fighter in Model.Fighters)
            {

            <div class="card">
                <div class="card-body">
                    <h3 class="card-text">@fighter.Name</h3>
                </div>
                <img class="card-img-top" src="@fighter.Image" alt="@fighter.Name" style="height:100%">
                <div class="card-text">
                    <p>
                        @fighter.Level
                    </p>
                    <p>
                        @fighter.Price
                    </p>
                </div>
                @if (Model.SignInManager.IsSignedIn(User))
                {
                    <form method="post">
                        <input type="submit" value="Buy" asp-page-handler="Buy" asp-route-fighter="@fighter" />
                    </form>
                }
            </div>
            }
        </div>
    </div>
