@page
@model PetProject.Pages.ProductModel
@{
    ViewData["Title"] = Model.Product.Name;
}
<div class="card">
    <div class="card">
        <div class="card-body">
            <h2 class="card-text">@Model.Product.Name</h2>
        </div>
        <img class="card-img-top" src="@Model.Product.Image" alt="@Model.Product.Name">
        @if (Model.SignInManager.IsSignedIn(User))
        {
            <form method="post">
                <input type="button" value="Buy" asp-page-handler="Buyme" asp-route-ID="@Model.Product.Id" />
            </form>
        }
        <div class="card-text">@Model.Product.Descriptions</div>

    </div>
</div>